.loginContainer {
    border: 1px solid black;
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.loginContainer > input {
    margin-bottom: 5px;
}